h4 {
    text-align: center;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.row {
    width: 82%;
    margin: 0 auto;
}

.container-cuento {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.lectura {
    width: 50%;
    padding: 15px;
    padding-top: 50px;
}

.lectura h5 {
    color: #0095DA;
    text-align: center;
}

.lectura p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
}

.imagen-lectura {
    text-align: center;
    padding-top: 15px;
}

.imagen-lectura h5 {
    padding: 10px 0;
    color: #37d3f7;
}

.imagen-lectura img {
    max-height: 500px;
    margin: 0 auto;
}

ul.tabs {
    background-color: rgb(45, 123, 240);
    margin-top: 30px;
}

ul.tabs li.activo {
    background-color: rgb(90, 148, 235);
    ;
}

ul.tabs li.tab a {
    color: white!important;
}

ul.tabs li.indicator {
    background-color: rgb(211, 211, 211)!important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: inherit!important;
    outline: none;
}


/************/


/**************/

@media(max-height: 640px) {
    .container-cuento {
        align-items: center;
    }
    ul.tabs {
        margin-top: 10px;
    }
    .lectura {
        width: 70%;
        padding-top: 16px;
    }
    .lecx {
        padding-top: 0px;
    }
    .imagen-lectura {
        width: 80%;
        padding-top: 0;
    }
    .lectura p {
        font-size: 1rem;
    }
    .imagen-lectura img {
        max-height: 384px;
    }
}