.container-two {
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.vertical {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  /* padding: 10px; */
  width: 100%;
  justify-content: center;
}

.grid-canva {
  display: grid;
  grid-template-columns: auto;
  /* padding: 10px; */
  width: 100%;
  justify-content: center;
}

/* #micanvas {
  width: 100%;
  height: 95px;
} */
.grid-item-a {
  border: 1px solid silver;
  padding: 20px;
  font-size: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5vh;
  border-radius: 4px;
  width: 180px;
  height: 90px;
}
.grid-item-a span {
  color: red;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 1vh;
  margin-left: 1vh;
}
.grid-item-b {
  border: 1px solid silver;
  padding: 20px;
  font-size: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5vh;
  border-radius: 4px;
  width: 520px;
  height: 90px;
}

.caja {
  /* border: 1px solid blue; */
  color: orange;
  font-weight: bold;
  /* width: 100px;
  height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: auto;
  height: 40px;
}
.principal {
  width: 210px;
  height: auto;
}
.img-cen {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-a {
  width: auto;
    height: 54px;
}

@media screen and (max-height: 890px){
  .grid-item-b {
    height: 55px;
  }
  .grid-item-a {
    height: 55px;
  }
  .img-a{
    padding: 10px;
  }
  #micanvas{
    height: 310px;
  }
}