h5 {
    width: 80%;
}

.container {
    height: 70%;
    display: flex;
    align-items: center;
}

.contenedor {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.contenedor img {
    width: auto;
    height: 175px;
    margin: .9vh;
}

.contenedor-ejercicios {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    padding: 10px;
}


.contenedor-img img {
    width: 95%;
    max-height: 95%;
}

@media(max-height: 640px) {
    .contenedor-img {
        width: 150px;
        height: 150px;
    }
}