h4 {
    text-align: center;
}

h5 {
    width: 80%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicio {
    text-align: center;
    padding-top: 50px;
}

.imagen {
    width: 810px;
    margin: auto;
    position: relative;
}

.contenedor {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    top: 0;
}

.contenedor.cero {
    top: 91px;
    left: calc(50% - 25px);
}

.contenedor.zeta {
    top: 158px;
    left: calc(50% - 25px);
}

.contenedor.menos {
    top: 91px;
    left: calc(30% - 25px);
}

.contenedor.mas {
    top: 91px;
    right: calc(30% - 25px);
}

.imagen img {
    width: 100%;
}

.contenedor-palabras {
    width: fit-content;
    margin: auto;
    padding-top: 60px;
    display: flex;
}

span.palabra {
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 3px;
    justify-content: center;
    align-items: center;
}

span.palabra img {
    max-width: 100%;
    max-height: 100%;
}

span.palabra:hover {
    border-color: #37D3F7;
}

@media(max-width: 1550px) {
    .contenedor-palabras {
        padding-top: 25px;
    }
}

@media(max-height: 640px) {
    .contenedor-ejercicio {
        padding-top: 0px;
    }
    .contenedor-x {
        height: 240px;
    }
    .contenedor-palabras {
        padding-top: 50px;
        text-align: center;
    }
    span.palabra {
        font-size: 1.6rem;
        padding: 3px 8px;
        margin: 1px 3px;
    }
}