h5 {
    width: 80%;
}

.container-two {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-ejercicios {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor-img {
    width: 160px;
    height: 140px;
    margin: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}


@media(max-height: 640px) {
    .contenedor-ejercicios {
        grid-template-columns: auto;
    }
    .contenedor-img {
        margin: 1vh;
    }
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** Estilos generales ******/

/* .grid-pregunta {
    margin: 5vh;
} */

.s {
    color: tomato;
    font-weight: bold;
    margin-right: 1vh;
}

.text {
    font-size: 24px;
}

.principal {
    width: 100%;
    height: auto;
}

.img {
    width: auto;
    height: 260px;
}

.img-option {
    width: auto;
    height: 130px;
}