h5 {
    width: 80%;
    font-size: 24px;
}

@media (min-width: 1920px) {
    h5 {
        font-size: 200%;
    }
}

.contenedor-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

/* Parte 1 */

.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.pieza {
    margin: 1vh;
    z-index: 1;
}

/* Parte 2 */

.esquema {
    position: relative;
    width: 883px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.principal {
    width: 100%;
    height: auto;
}

.img {
    width: auto;
    height: 150px;
}

.contenedor {
    position: absolute;
    width: 285px;
    height: 165px;
    /* background: #000000ab; */
    background: transparent !important;
}

.c1 {
    left: 7px;
    top: 64px;
}

.c2 {
    top: 64px;
    left: 302px;
}

.c3 {
    right: 4px;
    top: 64px;
}

/* Responsive */

@media (min-width: 1920px) {
    .esquema {
        width: 1000px;
        height: 380px;
    }
    .contenedor {
        width: 320px;
        height: 190px;
    }
    .c1 {
        left: 7px;
        top: 125px;
    }
    .c2 {
        top: 125px;
        left: 341px;
    }
    .c3 {
        right: 4px;
        top: 125px;
    }
    .img {
        width: auto;
        height: 190px;
    }
}