.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-direction: column;
}

:root {
  --width-grid-item: 560px;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}
.cajada{
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 30px
}
.number{
  padding: 0px;
  margin-bottom: 5px;
  background-color: rgb(214, 24, 24);
  text-align: center;
  color: #ffff;
}
.number h6{
  font-size: 30px;
  font-weight: bold;
}
.fila2, .fila3{
  text-align: center;    
  display: inline-block;
  background-color: rgb(240, 240, 240);
  padding: 10px 50px;
}
.fila2 span, .fila3 span{
  display: inline-block;
}


/*SELECT SECUNDARIO*/


.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 80px;
  height: 40px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #800080;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: 250px;
}

.select-wrapper {
  position: relative;
  margin-left: 2vh;
  margin-right: 2vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 8px;
}
@media screen and (max-width: 1300px){
  .container-two{
      margin-top: 0vh;
  }
  .cajada{
      margin-bottom: 4px;
  }
  .number h6 {
      font-size: 20px;
      line-height: 73%;
  }
  .fila2, .fila3{
      padding: 2px 50px;
  }
  
/*SELECT SECUNDARIO*/


.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 80px;
  height: 35px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #800080;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: 250px;
}

.select-wrapper {
  position: relative;
  margin-left: 2vh;
  margin-right: 2vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 8px;
}
}