h4 {
    text-align: center;
}

h5 {
    width: 80%;
}

.contenedor-oraciones {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    align-items: center;
}

.contenedor-oraciones h4 {
    margin-left: auto;
    margin-right: auto;
}

.oracion {
    width: 100%;
    padding-top: 15px;
}

.contenedor-check {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
}

.contenedor-check .respuesta {
    width: 48%;
    padding: 10px 25px;
    margin: 5px;
    text-align: center;
}

.contenedor-check .respuesta .img-rpst {
    border: 3px solid silver;
    border-radius: 12px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-check .respuesta .img-rpst:hover {
    border-color: rgb(40, 179, 243);
}

.contenedor-check .respuesta .img-rpst img {
    max-width: 90%;
    max-height: 90%;
}


/************/


/**************/

@media(max-height: 640px) {
    .contenedor-oraciones {
        width: 86%;
        padding-top: 0;
    }
    .contenedor-check {
        padding-top: 0;
    }
    .oracion h5 {
        font-size: 1.6rem;
        padding-top: 0;
    }
    .contenedor-check .respuesta {
        width: 24%;
        padding: 6px 15px;
    }
    .contenedor-check .respuesta span {
        font-size: 1.5rem;
    }
    .contenedor-check .respuesta .img-rpst {
        width: 230px;
        height: 230px;
    }
}