h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.contenedor-imagen {
    width: 50%;
    text-align: center;
}

.contenedor-imagen img {
    max-width: 80%;
}

.ejercicio {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.ejercicio .contenedor-respuesta img {
    max-width: 200px;
}

.ejercicio .contenedor-respuesta p.titulo-parrafo {
    background-color: tomato;
    margin-bottom: 0;
    font-weight: 700;
    padding: 5px 8px;
    border: 3px solid silver;
    border-radius: 12px;
    color: white;
}

.ejercicio .contenedor-respuesta p {
    font-size: 1.7rem;
}

.ejercicio .contenedor-respuesta p span {
    font-weight: 700;
    color: rgb(56, 188, 218);
    font-size: 2rem;
}

.ejercicio .contenedor-respuesta p span.palabra {
    display: inline-flex;
    width: 160px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color: transparent;
}

.ejercicio .contenedor-respuesta p span.palabra.lampara {
    width: 235px;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
    font-size: 1.9rem;
}

.contenedor-check {
    padding-top: 20px;
}

.oracion {
    width: 100%;
}

.contenedor-check {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    flex-wrap: wrap;
}

.contenedor-check .respuesta {
    width: fit-content;
    padding: 10px 25px;
    margin: 5px;
    border: 3px solid silver;
    border-radius: 12px;
    text-align: center;
}

.contenedor-check .respuesta:hover {
    border-color: #20bcdb;
}

.contenedor-check .respuesta span {
    font-size: 1.8rem;
}

span.celeste {
    color: #37d3f7;
}


/************/


/**************/

@media(max-height: 640px) {
    .contenedor-check {
        padding-top: 0;
    }
    .contenedor-check .respuesta {
        padding: 4px 15px;
    }
    .contenedor-check .respuesta span {
        font-size: 1.6rem;
    }
}