.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.vertical {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  /* padding: 10px; */
  width: 100%;
  justify-content: center;
}

.grid-canva {
  display: grid;
  grid-template-columns: auto;
  /* padding: 10px; */
  width: 100%;
  justify-content: center;
}

/* #micanvas {
  width: 100%;
  height: 95px;
} */
.grid-item-a {
  border: none !important;
  /* padding: 20px; */
  font-size: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .3vh;
  border-radius: 4px;
  width: 100%;
  height: 60px;
}
.grid-item-b {
  border: none !important;
  /* padding: 20px; */
  font-size: 19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .3vh;
  border-radius: 4px;
  width: 100%;
  height: 60px;
}

.caja {
  /* border: 1px solid blue; */
  color: orange;
  font-weight: bold;
  /* width: 100px;
  height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: auto;
  height: 50px;
}
.principal {
  width: 210px;
  height: auto;
}
.img-cen {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-a {
  width: 250px;
  height: auto;
}