h4 {
    text-align: center;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

#palabras {
    padding: 50px;
}

#palabras li {
    width: 100%;
    border: 3px solid silver;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 600px) {
    #palabras li {
        width: 25%;
        margin: auto;
        margin-bottom: 5%;
        margin-right: 1px;
    }
}

#palabras li:hover {
    border: 3px solid #37D3F7;
}

/* Color de obj */

#obj1 {
    color: red;
}

#obj2 {
    color: greenyellow;
}

#obj3 {
    color: blue;
}

#obj4 {
    color: mediumorchid;
}

#obj5 {
    color: orange;
}

#obj6 {
    color: maroon;
}

#obj7 {
    color: green;
}

#obj8 {
    color: red;
}

#obj9 {
    color: skyblue;
}