.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
}
.grid-cabecera {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}

.grid-item {
    border: 1px solid silver;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: .2vh;
    width: 170px;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-img {
    /* width: 100%;
    height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.img {
    width: 70px;
    height: auto;
    margin: auto;
}
@media (min-width: 1920px) {
    .img {
        width: 120px;
    }
}

.grid-caja {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* padding: 10px; */
}

.grid-campo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c {
    color: #66cc33
}

.d {
    color: #FF0000
}

.u {
    color: #3366cc
}

.w {
    width: 80px;
}
.w2 {
    width: 560px;
}
.clr {
    background: orange;
    color: white;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 100%;
    height: 40px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: orange;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 250px;
}

.select-wrapper {
    position: relative;
    margin-left: 2vh;
    margin-right: 2vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 60px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 8px;
}