.caja-principal {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 60%;
}
.content{
    display: grid;
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
}
.image img{
  height: 300px;
}
.option{
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 1300px){
  .caja-principal {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 60%;
}
}

/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(85, 83, 83);
  width: 50px;
  margin: 12px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 40px;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  background-color: rgb(61, 177, 255)!important;
  border: 2px solid rgb(0, 143, 226);
  border-radius: 4px;
  color: rgb(255, 255, 255);
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
  border: 1px solid rgb(192, 192, 192);
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: rgb(169, 231, 255);
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #000000;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}