.container-two {
  margin: 3vh auto 0;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
}

.svg {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.colores img {
  width: 50px;
  margin: 2vh;
  border-radius: 18%;
}

#contenedorpuzzle {
  width: 80%;
  margin: 10vh auto;
}

.item img {
  width: 250px;
  margin: 3 20px 0;
  float: left;
  border: solid transparent;
}

.item img:hover {
  border: solid;
}

h5 {
  font-size: 200%;
}

.img-principal {
  margin: 5vh auto 0;
}

.fila1, .fila2, .fila3 {
  margin: 0 auto 2vh;
  width: 1160px;
  box-shadow: 0 0 5px #80808061;
}

.container, .content-wrapper {
  margin: 3vh auto 0;
}

.fila1 img {
  width: 20vw;
  margin: 0 auto;
}

@media (max-width: 1200px) {

}

#imgIzquierda li, #imgDerecha li {
  width: 220px;
  height: 125px;
  border: 1px solid silver;
  position: relative;
  padding: 5px 0px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imgIzquierda li:hover, #imgDerecha li:hover {
  background-color: silver;
}

#imgIzquierda img, #imgDerecha img {
  width: auto;
  max-height: 120px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.campo {
  float: left;
}

ul {
  margin: 0;
}

.b span {
  font-size: 30px;
  line-height: 80px;
  font-weight: 600;
}
.b{
  font-weight: 700;
  font-size: 30px;
}
.ver{
  color: green;
}
.mor{
  color: blueviolet;
}
.azu{
  color: blue;
}
.nar{
  color: orange;
}