.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.content{
  width: 80%;
  margin: auto;
}
.fila{
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom:  2px solid rgb(226, 226, 226);
}
.operacion span, .operacion div{
  display: inline-block;
}
.fila img{
  width: 300px;
}
.rojo{
  color: red;
}
.hea{
  background-color: rgb(19, 207, 113);
  color: #fff;
}

/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 70px;
  margin: 12px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 40px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}
.select-wrapper .caret {
  display: none;
}
.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
}

@media screen and (max-height: 750px){
  .container-two {
    padding-top: 3vh;
  }
  .fila{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .camara img{
    width: 200px;
  }
  .select-wrapper input.select-dropdown {
    margin: 4px auto;
  }
}