.caja-principal {
  margin: 0 auto;
  width: 85%;
  margin-top: 14vh;
}
.content {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  align-items: center;
}
::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}
.image img{
  width: 350px;
}
.respuestas span{
  display: inline-block;
}
.image{
  justify-self: right;
}
.respuestas{
  justify-self: left;
  padding-left: 5vw;
  font-size: 2rem;
  color: rgb(6, 118, 209);
}


/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(192, 192, 192);
  width: 60px;
  margin: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 40px;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
  border: 1px solid silver;
}
.rojo{
  font-weight: 600;
  color: red;
  font-size: 24px;
}
.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
}