    h4 {
        text-align: center;
    }
    
    h5 {
        width: 85%;
    }
    
    .container {
        display: flex;
        height: 70%;
        align-items: center;
    }
    
    .container .row {
        width: 100%;
    }
    
    .contenedor-ejercicio {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    /**********************/
    
    ul.alfabeto {
        display: inline-flex;
        padding: 18px 15px 18px 15px;
        background-color: #13acc4;
    }
    
    ul.alfabeto li {
        border: 3px dashed white;
        background-color: #24bad1;
        color: white;
        margin: 8px;
        padding: 15px;
    }
    
    ul.alfabeto.uno {
        background-color: #27b949;
    }
    
    ul.alfabeto.uno li {
        background-color: #45c763;
    }
    
    ul.alfabeto.dos {
        background-color: #13acc4;
    }
    
    ul.alfabeto.dos li {
        background-color: #24bad1;
    }
    
    ul.alfabeto.tres {
        background-color: #27b949;
    }
    
    ul.alfabeto.tres li {
        background-color: #45c763;
    }
    
    ul.alfabeto li span {
        font-size: 1.8rem;
        line-height: .5rem;
        font-weight: 700;
    }
    /*******************/
    
    @media(max-height: 640px) {
        ul.alfabeto {
            margin: 8px;
            padding: 8px 8px 8px 8px;
        }
        ul.alfabeto li {
            padding: 7px 7px;
        }
        ul.alfabeto li span {
            font-size: 1.5rem;
        }
    }