h4 {
    text-align: center;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

#palabras {
    padding: 50px;
}

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.box {
    height: 150px;
    width: 150px;
    /*border: 3px solid silver;*/
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}

.box img {
    width: 85%;
}

.vocal {
    width: 50px;
    height: 40px;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    position: relative;
}


/*Style nuevos*/

.contenedor-silabas {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
}

.contenedor-silabas .silaba {
    width: 50px;
}

.silaba h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.caja-palabra {
    display: flex;
    position: relative;
    justify-content: center;
}

.caja-palabra span {
    font-size: 1.7rem;
    font-weight: 400;
    display: block;
}

.caja-palabra span.span-before {
    margin-right: 7px;
}

.caja-palabra span.span-after {
    margin-left: 7px;
}


/*Media querys*/

@media (min-width: 600px) {
    #palabras li {
        width: 100%;
        margin: auto;
        margin-bottom: 2vh;
    }
}

@media (min-height: 540px) {
    #palabras li {
        width: 16.3%;
        margin: auto;
        margin-bottom: 2vh;
    }
    .box-img {
        border-left: 1px solid silver;
        padding: 10px;
    }
    #palabras {
        padding: 30px;
    }
}

@media (min-width: 1920px) {
    #palabras li {
        width: 33.3%;
        margin: auto;
        margin-bottom: 2vh;
    }
    .box {
        height: 150px;
        width: 150px;
        border: 3px solid silver;
    }
    .box-img {
        border: none;
        padding: 10px;
    }
    .vocal {
        width: 60px;
        height: 40px;
    }
    .caja-palabra span {
        font-size: 1.9rem;
        font-weight: 600;
    }
}

.silaba.pieza {
    box-shadow: none!important;
}

.pieza h4:hover {
    box-shadow: grey 2px 3px 8px 0px;
}