h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 70%;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin-bottom: 25px;
}

table tr td {
    text-align: center;
}

table tr th {
    background-color: rgb(55, 154, 247);
    color: rgb(255, 255, 255);
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

table td span {
    font-size: 1.7rem;
    font-weight: 700;
}

table tr td.azul {
    background-color: rgb(55, 154, 247);
    color: white;
}

table tr td span.palabra {
    display: inline-block;
    border: 3px solid silver;
    border-radius: 12px;
    padding: 5px 10px;
}

span.palabra {
    display: inline-block;
    padding: 4px 8px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
}

span.palabra:hover {
    border-color: #37D3F7;
}

@media(max-height: 640px) {
    .row {
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .contenedor-ejercicios {
        width: 80%;
    }
    table td {
        padding: 5px 5px;
    }
}