h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 70%;
    min-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor {
    width: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.contenedor p {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px 0;
    margin: 0;
}

.fraccion {
    width: max-content;
    margin: 0 4px;
}

.item.bt {
    margin-top: 15px;
}

.operacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    flex-wrap: wrap;
    padding: 25px 0;
}

span.select {
    width: fit-content;
    display: inline-flex;
    margin-left: 4px;
}

span.select select {
    color: rgb(47, 196, 230);
    font-size: 1.6rem;
}

@media(max-width: 1500px) {
    .contenedor p {
        font-size: 1.5rem;
    }
}

@media(max-height: 640px) {
    .operacion {
        padding: 17px 0;
    }
}