.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 75%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}

.grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1920px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
    }
}

.grid-item {
    /* border: 1px solid silver; */
    /* padding: 0 0 12px 0; */
    margin: 2vh;
    font-size: 20px;
    text-align: center;
}

.campo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: auto;
    height: 230px;
    margin-bottom: 1vh;
}

.grid-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2vh;
    margin-left: 2vh;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.select-wrapper:last-child {
    border-bottom: none;
}

.mg {
    margin-right: 10px;
    margin-left: 10px;
    color: red;
    font-size: 2em;
}

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 260px;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
    border-bottom: 2px solid tomato;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

img.principal {
    width: auto;
    height: 220px;
}

.label {
    font-size: 20px;
}