.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

h4 {
    text-align: center;
}

#listA {
    /* display: flex;
    flex-wrap: wrap; */
}

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    /* border: 3px solid silver; */
}

.box {
    height: auto;
    width: 150px;
    /* border: 3px solid silver; */
    border-radius: 12px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: auto; */
    /* margin-bottom: 15px; */
}

.box img {
    margin-right: 10px;
    width: 80%;
    border-right: 3px solid silver;
}

.vocal {
    width: 100%;
    height: 40px;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    position: relative;
    margin-right: 5px;
}


/*Style nuevos*/

.contenedor-silabas {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 10px;
}

.contenedor-silabas .silaba {
    /* width: 50px; */
    border-radius: 12px;
    margin-right: 5px;
}

.silaba h4 {
    display: inline-block;
    font-size: 17px;
    background-color: #B6ECFF;
    /* border: 1px solid #37D3F7; */
    font-weight: 600;
    padding: 1px 13px;
    border-radius: 12px;
}

h4 {
    margin: 0 !important;
}

.caja-palabra {
    display: flex;
    position: relative;
    justify-content: center;
    width: 125%;
}

.caja-palabra span {
    font-weight: 600;
    font-size: 23px;
    display: block;
}

.caja-palabra span.span-before {
    margin-right: 7px;
}

.caja-palabra span.span-after {
    margin-left: 7px;
}


/*Media querys*/

@media (min-width: 600px) {
    #palabras li {
        width: 100%;
        margin: auto;
        margin-bottom: 2vh;
    }
}

@media (min-height: 540px) {    
    #palabras li {
        width: 49%;
        margin: auto;
        margin-bottom: 2vh;
    }
    .box-img {
        border-left: 1px solid silver;
        padding: 10px;
    }
    .silaba h4 {
        padding: 6px 9px;
    }
    
}

@media(min-height: 640px) {
    #palabras {
        padding: 50px;
    }
}

@media (min-width: 1920px) {

    #palabras li {
        width: 52%;
        margin: auto;
        margin-bottom: 2vh;
    }
    .box {
        height: auto;
        width: 150px;
        /* border: 3px solid silver; */
    }
    .box-img {
        border: none;
        padding: 10px;
    }
    .vocal {
        width: 100%;
        height: 40px;
    }
    .silaba h4 {
        padding: 6px 13px;
    }
    .box img {
        width: 80%;
    }
    
}

.caramelo {
    width: 135%;
}
.papelera {
    width: 145%;
}