
.contenedor-two{
    width: 80%;
    margin: auto;
    padding-top: 6vh;
}
.content{
    width: 90%;
    margin: auto;
}
.image{
    background-image: url('../img/6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1000px;
    height: 400px;
    margin: auto;
    position: relative;
}
.options{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.pieza{
    width: 150px;
    text-align: center;
}
.item img{
    width: 140px;
}
.box{
    position: absolute;
    width: 120px;
    height: 50px;
    border: 1px solid rgba(51, 51, 51, 0);
}
.box1{
    left: -10px;
   top: 50px; 
}
.box2{
    left: -10px;
    top: 115px; 
}
.box3{
    left: -10px;
    top: 198px; 
}
.box4{
    right: -10px;
    top: 118px; 
}
.box5{
    right: -10px;
    top: 282px; 
}
@media(max-height: 750px) {

    .contenedor-two{
        width: 90%;
        margin: auto;
        padding-top: 1vh;
    }
    .image{
        background-image: url('../img/6.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 1000px;
        height: 300px;
        margin: auto;
        position: relative;
    }
    .box1{
        left: -10px;
       top: -5px; 
    }
    .box2{
        left: -10px;
        top: 65px; 
     }
    .box3{
        left: -10px;
        top: 148px; 
    }
    .box4{
        right: -10px;
        top: 65px; 
    }
    .box5{
        right: -10px;
        top: 232px; 
    }
}
@media(max-width: 1300px) {

    .contenedor-two{
        width: 90%;
        margin: auto;
        padding-top: 1vh;
    }
    .image{
        background-image: url('../img/6.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 1000px;
        height: 300px;
        margin: 20px auto;
        position: relative;
    }
}