h4 {
    text-align: center;
}

.container .row {
    text-align: center;
}

.contenedor-img img {
    padding-top: 30px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.contenedor-ejercicios img.img-ejercicio {
    width: 400px;
}

.ejercicio {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.contenedor-respuesta {
    display: flex;
    justify-content: center;
}

.contenedor-respuesta .palabra {
    width: 200px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    text-align: center;
    margin: 0 5px;
}

.contenedor-respuesta .palabra:hover {
    border-color: #37D3F7;
}

.contenedor-respuesta span {
    font-size: 1.9rem;
    margin-right: 7px;
    margin-left: 7px;
    display: block;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}


/**************/

@media(max-height: 640px) {
    .contenedor-ejercicios {
        padding-top: 0;
    }
    .ejercicio {
        padding-top: 27px;
    }
    .contenedor-silabas {
        padding-top: 20px;
    }
}