h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
    margin: auto;
}

.ejercicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta {
    border: 3px solid silver;
    border-radius: 12px;
    width: 150px;
    height: 120px;
}

.ejercicio .contenedor-oracion {
    padding: 15px;
}

.ejercicio .contenedor-oracion span {
    font-size: 1.8rem;
    font-weight: 700;
}

.contenedor-imagenes {
    padding-top: 30px;
    text-align: center;
}

.contenedor-imagenes span {
    display: inline-flex;
    width: 140px;
    height: 110px;
    align-items: center;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 5px;
}

.contenedor-imagenes span img {
    max-width: 100%;
    max-height: 100%;
}

@media(max-height: 640px) {
    .row {
        display: flex;
        align-items: center;
    }
    .contenedor-imagenes {
        padding-top: 0;
    }
    .contenedor-ejercicios {
        padding-top: 0;
    }
}