h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 60%;
    margin: auto;
}

.numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

span.numero {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 15px;
    font-size: 2rem;
    font-weight: 600;
    border: 3px solid tomato;
    border-radius: 12px;
    margin: 5px;
}

@media(max-height: 640px) {}