h4 {
    text-align: center;
}

h6 {
    width: 100%;
    font-size: 180%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
    margin: auto;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 25px;
}

.ejercicio.mas::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -5%;
    top: 45%;
    background-image: url(../img/7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ejercicio.igual::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -5%;
    top: 45%;
    background-image: url(../img/8.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
}

.ejercicio .contenedor-respuesta span.span-before {
    margin-right: 7px;
}

.ejercicio .contenedor-respuesta span.span-after {
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 200px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
    flex-wrap: wrap;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .container .row {
        display: flex;
        align-items: center;
        width: 95%;
    }
    .contenedor-silabas {
        width: 40%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .silabas {
        text-align: center;
    }
    .silabas h4 {
        margin: 10px;
        font-size: 1.7rem;
    }
    .contenedor-ejercicios {
        width: 60%;
        padding-top: 25px;
    }
    .ejercicio {
        width: 50%;
    }
    .ejercicio .imagen-palabra {
        width: 120px;
    }
    .contenedor-silabas {
        padding-top: 16px;
    }
    h6 {
        width: 85%;
        font-size: 170%;
        padding-top: 0px;
        padding-bottom: 0;
    }
    .ejercicio .contenedor-respuesta .palabra {
        height: 45px;
        margin-bottom: 0;
    }
}