.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 80%;
}

.grid-item {
    border: 1px solid silver;
    padding: 6px;
    text-align: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.tc {
    background:rgb(243, 223, 166);
    font-size: 24px;
    border-color: orange;
}
.tt {
    background-color: rgb(255, 153, 51);
    border-color: rgb(255, 255, 255);
    font-weight: bold;
}
.bn {
    border: none;
}
.img {
    height: 50px;
    width: auto;
    margin-left: 1vh;
    background: #fff;
}
@media (min-width: 1920px) {
    .img {
        height: 110px;
    }
}

/* Select */
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 300px;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}
.principal {
    height: 240px;
    width: auto;
    background: #fff;
}
@media (min-width: 1920px) {
    .principal {
        height: 300px;
        width: auto;
    }
}