h5 {
    width: 80%;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
}

.contenedor-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    height: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oracion {
    width: 70%;
    padding-top: 15px;
    font-size: 1.5em;
}
.spn {
    color: tomato;
    margin-right: 1vh;
}
.contenedor-check {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 2vh;
}

.img {
    width: auto;
    height: 70px;
    margin: 2vh;
}

.contenedor-check .respuesta {
    width: 70%;
    padding: 10px 25px;
    margin: 5px;
    border: 3px solid silver;
    border-radius: 12px;
    text-align: center;
}

.contenedor-check .respuesta:hover {
    border-color: #20bcdb;
}

.contenedor-check .respuesta span {
    font-size: 2rem;
}

span.celeste {
    color: #37d3f7;
}


/************/


/**************/

@media(max-height: 640px) {
    h4 {
        font-size: 1.8rem;
    }
    .contenedor-oraciones {
        width: 70%;
        padding-top: 0;
    }
    .contenedor-check {
        padding-top: 0;
    }
    .oracion h5 {
        font-size: 1.6rem;
        padding-top: 0;
    }
    .contenedor-check .respuesta {
        width: 80%;
        padding: 6px 15px;
    }
    .contenedor-check .respuesta span {
        font-size: 1.5rem;
    }
}