.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid silver;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    margin: .5vh;
    /* width: 200px; */
}

.img {
    width: 300px;
    height: auto;
}
@media (min-width: 1920px) {
    .img {
        width: 300px;
    }
}