h5 {
    width: 80%;
}

.container-two {
    margin: 0 auto;
    width: 70%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-ejercicios {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 15px;
}

.contenedor-img img {
    max-width: 95%;
    max-height: 95%;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        grid-template-columns: auto auto auto auto;
    }
    .contenedor-img {
        width: 180px;
        height: 180px;
    }
}

.option {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
}

.pieza {
    width: auto;
    height: 110px;
}

/****** Estilos generales ******/

.image-principal {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.principal {
    width: 265px;
    margin-top: 1vh;
}
@media (min-width: 1920px) {
    .principal {
        width: 265px;
    }
}

.s {
    color: tomato;
    font-weight: bold;
    margin-right: 1vh;
}

.text {
    font-size: 24px;
}

.contenedor {
    border: 2px solid orange;
    border-radius: 12px;
    width: 350px;
    height: 220px;
    margin-top: 4vh;
}