h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 100%;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
    margin-right: 7px;
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 150px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}

.tablero {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
}

.contenedor-img {
    width: 30%;
    text-align: center;
}

.contenedor-img img {
    max-width: 100%;
    max-height: 200px;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
    }
    .tablero {
        align-items: center;
        padding-top: 0;
    }
    .contenedor-ejercicios {
        padding-top: 15px;
        margin-left: 0;
    }
    .contenedor-silabas {
        padding-top: 10px;
    }
}