.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh;
  margin-bottom: 10px;
}
.signo{
  color:rgb(221, 19, 19);
}
.numero{
  background-color: rgb(0, 114, 245);
  margin-left: 14px;
  margin-right: 14px;
  color: #fff;
  font-weight: 600;
  padding: 15px;
}
.cabe {
  background-color: rgb(209, 230, 186);
  border-color: rgb(102, 204, 102);
  padding: 0;
}
.bn {
  border: none;
}
.bre {
  border-bottom: 3px solid red;
}
.r {
  color: red;
}
.mas {
  position: absolute;
  top: 5px;
  right: -31px;
  color: red;
  /* bottom: 0; */
}
.b {
  color: blue;
}
.img {
  width: 100%;
  height: auto;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mg {
  margin-right: 10px;
  margin-left: 10px;
  color: red;
}

.grid-container .select-wrapper {
  margin-right: 2vh;
  margin-left: 2vh;
}
.select-wrapper ul {
  height: auto !important;
}

.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 90px;
  margin: 0;
  font-size: 1em;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 90px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 12px;
}

.pregunta {
  font-size: 22px;
}

.tabla {
  width: 100%;
}

.caja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flecha {
  color: red;
  margin-left: 2vh;
}
@media screen and (max-width: 1300px){
  center h5{
    font-size: 24px;
  }
  .grid-item{
      padding: 0;
  }
}