h5 {
    width: 80%;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
}
.contenedor-two{
    width: 80%;
    margin: auto;
    padding-top: 6vh;
}
.content{
    width: 80%;
    margin: auto;
    display: grid;
    justify-items: center;
}
.title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}
.info{
    font-size: 20px;
}
.image{
    text-align: center;
}
.image img{
    margin: auto;
    width: 800px;
}
.cajas{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin-bottom: 2vh;
    font-weight: 600;
}
.info p span{
    padding: 3px 120px;
    height: 50px;
    border-bottom: 2px solid #333;
}
.item{
    text-align: center;
    width: 200px;
    font-size: 15px;
    
    margin: 10px;
    font-size: 16px;
    border: 2px solid rgba(202, 202, 202, 0);
}
.item img{
    width: 200px;
}
.imagebg{
    width: 900px;
    height: 300px;
    background-image: url('../img/8.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
    z-index: -99;
}
.box{
    position: absolute;
    width: 400px;
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0);
    top: 76px;
}
.box1{
    left: 45px;
}
.box2{
    left: 460px;
}
@media(max-height: 880px) {
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }.contenedor-two{
        width: 90%;
        margin: auto;
        padding-top: 6vh;
    }
    
    .image img{
        width: 300px;
    }
    .imagebg{
        grid-row: 1/2;
        width: 850px;
        height: 170px;
        margin: auto;
        text-align: center;
        justify-self: center;
    }
    .cajas{
        margin: 0;
        padding-top: 0;
        grid-template-columns:repeat(4,1fr);
        grid-row: 2/3;
        height: 100%;
    }
    .item{
        margin:2px;
        height: 45px;
    }
    .box{
        position: absolute;
        width: 222px;
        height: 130px;
        border: 1px solid rgba(51, 51, 51, 0);
        top: 40px;
    }
    .box1{
        left: 199px;
    }
    .box2{
        left: 434px;
    }
   .item img {
    width: 180px;
}
}