h5 {
    width: 80%;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
}
.contenedor-two{
    width: 90%;
    margin: auto;
    padding-top: 6vh;
}
.contenedor-check{
    width: 80%;
    font-size: 24px;
    margin: 20px 10px;
}
@media(max-width: 1450px) {
    .contenedor-check{
        width: 80%;
        font-size: 24px;
        margin: 20px 10px;
    }
}