h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
}

.ejercicio .contenedor-respuesta span.span-before {
    margin-right: 7px;
}

.ejercicio .contenedor-respuesta span.span-after {
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 197px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 840px) {
    .row {
        display: flex;
        align-items: flex-start;
    }
    .contenedor-silabas {
        width: 40%;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
    }
    .silabas {
        text-align: center;
    }
    .contenedor-ejercicios {
        width: 60%;
        padding-top: 0px;
    }
    .ejercicio {
        width: 33%;
    }
    .ejercicio .imagen-palabra {
        width: 100px;
    }
}