h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.contenedor-ejercicio {
    text-align: center;
    padding-top: 50px;
}

.contenedor-x {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 5px 7px;
    border: 3px solid silver;
    border-radius: 12px;
}

.contenedor-x span {
    font-weight: 700;
    font-size: 1.6rem;
}

.contenedor-palabras {
    width: fit-content;
    margin: auto;
    padding-top: 40px;
}

span.palabra {
    display: inline-block;
    padding: 5px 8px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: white;
}

span.palabra:hover {
    border-color: #37D3F7;
}

@media(max-height: 640px) {
    .contenedor-ejercicio {
        padding-top: 25px;
    }
    .contenedor-x {
        width: 240px;
        height: 240px;
    }
    .contenedor-palabras {
        padding-top: 20px;
        width: 80%;
        text-align: center;
    }
    span.palabra {
        font-size: 1.6rem;
        padding: 3px 8px;
        margin: 1px 3px;
    }
}