.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.grid-item {
    padding: 5px 0;
    font-size: 24px;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-right: 1vh;
}

.img {
    border-style: none;
    height: 110px;
    width: auto;
    margin-bottom: 1vh;
}
@media (min-width: 1920px) {
    .img {
        height: 186px;
    }
}
.principal {
    border-style: none;
    height: AUTO;
    width: 37%;
}
.select-wrapper input.select-dropdown {
    border: 2px solid #0095DA !important;
    color: #0095DA !important;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 2px solid #0095DA !important;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #0095DA;
}
.box-select {
    margin-right: 1vh;
    margin-left: 1vh;
}
.br-img {
    width: auto;
    /* border: 1px solid silver; */
    padding: 0 12px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-wrapper {
    position: relative;
    width: 80px;
}