.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1000px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.containerPrincipal{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.fila{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 600;
  font-size: 24px;
}
.respuesta{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  grid-column-gap: 2px;
}
hr{
  border: 2px solid rgb(252, 23, 23);
}


/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 50px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  height: auto;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
  height: auto;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  width: 50px;
  position: relative;
  margin-left: .5vh;
  height: auto;
  margin-right: .5vh;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 2px rgba(29, 29, 29, 0.3); 
  border-radius: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px rgba(31, 31, 31, 0.5);
}
.select-wrapper .caret {
  display: none;
  height: auto;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  height: auto;
  display: none;
  min-width: 50px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 50px;
  border-radius: 12px;
}