h5 {
    width: 80%;
}

.container {
    height: 70%;
    display: flex;
    align-items: center;
    width: 100%;
}

.row {
    width: 100%;
}

.contenedor-ejercicios {}

.container-x {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60%;
    margin: auto;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 5px;
}

.grid-item {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 5px;
    padding: 10;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 150px;
}

.fondo {
    background-image: url(../img/1.png)!important;
    background-size: 50%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}


/************/


/**************/

@media(max-height: 640px) {
    .container-x {
        max-width: 80%;
    }
    .grid-item {
        width: 85px;
        height: 70px;
        padding: 0px;
    }
}