.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width:1920px) {
    .container-two {
        height: 70%;
    }
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 80px;
    height: auto;
    margin-bottom: 2vh;
}

@media (min-width: 1920px) {
    .img {
        width: 140px;
        height: auto;
    }
}

.img-lista {
    width: 100px;
    height: auto;
}

@media (min-width: 1920px) {
    .img-lista {
        width: 160px;
    }
}

.grid-colores {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.grid-lista {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: grid;
    grid-template-columns: auto auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0vh 4vh;
}

.lista {
    width: 60px;
    height: 60px;
    border: 2px solid silver;
    margin: 0 4vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.8em;
}

@media (min-width: 1920px) {
    .lista {
        width: 80px;
        height: 80px;
    }
}

h5 {
    width: 85%;
    font-size: 200%;
}