h4 {
    text-align: center;
}

h5 {
    width: 85%;
    font-size: 180%!important;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
    margin-bottom: 0;
}

.contenedor-ejercicios {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table tr td {
    text-align: center;
}

table tr th {
    background-color: rgb(55, 154, 247);
    color: rgb(255, 255, 255);
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

table td span {
    font-size: 1.4rem;
    font-weight: 700;
}

table tr td span.respuesta {
    display: inline-block;
    width: 160px;
    height: 60px;
    border: 3px solid silver;
    border-radius: 12px;
}

.contenedor-palabras {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}

span.palabra {
    display: inline-block;
    padding: 4px 8px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
}

span.palabra:hover {
    border-color: #37D3F7;
}

.contenedor-palabras {
    display: inline-flex;
    justify-content: center;
}

.contenedor-palabras .palabra-x {
    padding: 7px 15px;
    font-size: 1.4rem;
    color: white;
    background-color: tomato;
    margin: 0px 5px;
    border: 3px solid silver;
    border-radius: 12px;
    font-weight: 700;
}

td span.select {
    display: inline-flex;
    width: 210px;
}

td span.select select {
    color: rgb(47, 196, 230);
    font-size: 1.4rem;
}

@media(max-height: 640px) {
    .row {
        display: flex;
        align-items: center;
    }
    .contenedor-ejercicios {
        padding-top: 0px;
        width: 90%;
        margin: auto;
    }
    .contenedor-palabras {
        flex-wrap: wrap;
    }
    .contenedor-palabras span.palabra {
        margin: 8px;
    }
    table td {
        padding: 0px 5px;
    }
    table td span {
        font-size: 1.2rem;
        font-weight: normal;
    }
}