h5 {
    width: 80%;
}

.container {
    height: 70%;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor-ejercicios {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 1vh;
}

.contenedor-img img {
    max-width: 95%;
    max-height: 95%;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        grid-template-columns: auto auto auto;
    }
    .contenedor-img {
        width: 150px;
        height: 150px;
        border: 2px solid silver;
    }
}

.grid-pregunta {
    margin-top: 5vh;
    margin-right: 5vh;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** Estilos generales ******/

.s {
    color: tomato;
    font-weight: bold;
    margin-right: 1vh;
}

.text {
    font-size: 24px;
}
.img-option {
    width: auto;
    height: 120px;
}