.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto  auto auto auto;
  padding: 10px;
  width: 90%;
}

.grid-item {
  border: 1px solid silver;
  padding: 6px;
  text-align: center;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}

.tc {
  background:rgb(208, 237, 244);
  font-size: 24px;
  font-weight: bold;
  color: #0095DA;
  border:none;
}
.tt {
  background-color: rgb(150, 121, 202);
  color: #fff;
  font-weight: bold;
}
.bn {
  border: none;
}
.img {
  height: 60px;
  width: auto;
  margin-left: 1vh;
}

/* Select */

.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
  width: 100%;
}

.select-wrapper ul {
  width: 100%;
  height: auto;
}

.grande .select-wrapper {
  width: 100%;
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 90px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 12px;
}
/* Smal Select */
.smal .select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 60px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.smal .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.smal .select-wrapper ul {
  height: auto;
}

.smal .select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.smal .dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 30px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 30px;
  border-radius: 12px;
}

.principal {
  height: 240px;
  width: auto;
  background: #fff;
}
@media (min-width: 1920px) {
  .principal {
      height: 300px;
      width: auto;
  }
}


@media screen and (max-height: 800px){
  .grid-item{
      font-size: 15px!important;
  }
}