h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

.row .contenedor-imagen {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.row .contenedor-imagen img {
    max-width: 250px;
    margin: auto;
}

.contenedor-oraciones {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    align-items: center;
}

.contenedor-check {
    padding-top: 20px;
}

.oracion {
    width: 50%;
    padding-top: 15px;
}

.contenedor-check {
    display: flex;
    justify-content: center;
}

.contenedor-check .respuesta {
    padding: 10px;
    margin: 5px;
    border: 3px solid silver;
    border-radius: 12px;
    text-align: center;
}

.contenedor-check .respuesta:hover {
    border-color: rgb(40, 179, 243);
}

.contenedor-check .respuesta span {
    font-size: 1.5rem;
}

.rsp {
    background-color: rgb(56, 185, 245);
}


/************/


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
        align-items: center;
    }
    .contenedor-imagen {
        width: fit-content;
    }
    .contenedor-check .respuesta {
        padding: 5px 5px;
    }
    .contenedor-oraciones {
        width: 86%;
        padding-top: 0;
        align-items: flex-start;
    }
    .contenedor-check {
        padding-top: 0;
    }
    .oracion h5 {
        font-size: 1.6rem;
    }
}