h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.contenedor-contenedores {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contenedor-contenedores .contenedor-x {
    position: relative;
    height: 300px;
    width: 300px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 5px;
    text-align: center;
}

.contenedor-x span {
    font-size: 1.8rem;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .contenedor-ejercicios {
        padding-top: 7px;
    }
    .ejercicio .imagen-palabra img {
        max-width: 70%;
    }
    .contenedor-contenedores {
        padding-top: 20px;
    }
    .contenedor-contenedores .contenedor-x {
        height: 250px;
        width: 250px;
    }
}