h5 {
    width: 80%;
}

.container {
    height: 70%;
    display: flex;
    align-items: center;
}

.contenedor-ejercicios {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    border: 3px solid silver;
    border-radius: 12px;
    padding: 15px;
    margin: 15px;
}

.contenedor-img img {
    max-width: 95%;
    max-height: 95%;
}


/************/


/**************/

@media(max-height: 640px) {
    .contenedor-ejercicios {
        grid-template-columns: auto auto auto auto;
    }
    .contenedor-img {
        width: 150px;
        height: 150px;
    }
}