.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 1920px) {
    .container-two {
        width: 70%;        
    }
}
h4 {
    text-align: center;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

#palabras {
    padding: 0 50px;
}
@media (min-width: 1920px) {
    #palabras {
        padding: 50px;
    }
}

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    border: 3px solid silver;
    border-radius: 12px;
    padding: 10px;
}

.img {
    border-radius: 10px;
    padding: 2px;
    width: 100%;
    height: 100%;
}

#palabras li>span {
    font-size: 22px;
    letter-spacing: 10px;
    padding-left: 8px;
    border: 3px solid transparent;
    cursor: pointer;
}

#palabras li>span:hover {
    border: 3px solid #37D3F7;
    border-radius: 5px;
}

@media (min-width: 600px) {
    #palabras li {
        width: 15%;
        margin: auto;
        margin-right: 1vh;
    }
}

.tabla {
    border: 1px solid rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.h {
    height: 50px;
    background-color: rgb(255, 204, 153);
    border: none;
    font-size: 1.5em;
}
.d {
    color: red;
}
.u {
    color: blue;
}