h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
    margin-right: 8px;
}

.ejercicio .contenedor-respuesta span.span-before {
    margin-right: 7px;
}

.ejercicio .contenedor-respuesta span.span-after {
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 70px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}

.contenedor-img {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.contenedor-img img {
    height: 100px;
    width: auto;
    margin: auto;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-top: 40px;
    margin-left: 10%;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 820px) {
    .row {
        display: flex;
        align-items: flex-end;
    }
    .contenedor-img {
        padding: 10px 0;
    }
    .ejercicio .contenedor-respuesta .palabra {
        width: 65px;
        height: 50px;
        border: 3px solid silver;
        border-radius: 12px;
        margin-bottom: 3px;
    }
    .contenedor-silabas {
        width: 30%;
        justify-content: center;
        padding-top: 16px;
        flex-wrap: wrap;
        margin-left: 0;
    }
    .silabas {
        text-align: center;
    }
    .contenedor-ejercicios {
        width: 50%;
        padding-top: 0px;
    }
    .ejercicio {
        width: 50%;
    }
    .ejercicio .imagen-palabra {
        width: 90px;
    }
    .silabas h4 {
        font-size: 1.5rem;
        padding: 3px 7px;
        margin: 7px 5px;
    }
}