h5 {
    width: 85%;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
}

.contenedor-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor-oraciones{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.item{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
}
.title{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 13px;
}
.options{
    display: grid;
    font-size: 22px;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 20px;
}
.seleccion{
    border: 2px solid rgb(162, 241, 255);
    padding: 5px;
}
@media(max-width: 1340px) {
   .contenedor-oraciones{
       grid-template-columns: repeat(2,1fr);
       padding-top: 9vh;
   }
}