h5 {
    width: 80%;
}

.oracion h4 {
    text-align: center;
    color: #20bcdb;
}
.contenedor-two{
    width: 80%;
    margin: auto;
    padding-top: 6vh;
}
.content {
    width: 80%;
    margin: auto;
}
.title{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.options{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.options > div {
    margin: 10px;
}
.options img{
    width: 100%;
}
@media(max-width: 1450px) {
    .contenedor-check{
        width: 80%;
        font-size: 24px;
        margin: 20px 10px;
    }
}